twisted==22.4.0
service-identity==21.1.0
chromalog==1.0.5
txtorcon==22.0.0
#python-bitcointx==1.1.3
python-bitcointx @ git+https://github.com/Simplexum/python-bitcointx@f4a8e21efc35d28a2763047ecaf8715f26eacce9
pyopenssl==23.2.0